@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
  }

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

.headline {
  border-bottom: solid #888;
}

header,
footer {
  padding: 1rem;
  border: 1px solid black;
  background-color: rgb(250, 202, 234);
  border-radius: 30px;
  text-align: center;
}

header img {
  float: right;
  box-shadow: 1px 1px 4px 1px #888;
}

footer a {
  color: black;
}
