/*Primary Color: Hunter Green #355834
	Secondary Color: Morning Blue #7F9F8A
    Accent Color: Copper Crayola #E58F65 */

body{
    font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: #7F9F8A;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #E58F65;
	color: white;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: body;
    text-align: left;
    grid-gap: 1rem;
}

#pc {
	background-color: #355834;
	color: white;
	padding: 1rem;
	text-align: center;
}

#sc {
	background-color:#7F9F8A;
	color: white;
	padding: 1rem;
	text-align: center;
}

#ac {
	background-color:#E58F65;
	color: white;
	padding: 1rem;
	text-align: center;
}

header,
main,
nav,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

header,
footer {
	background-color: #355834;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: white;
}

footer a {
	color: white;
}