/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav button {display: none;}

    nav ul.hide {display: block;}

    nav ul li {
        float: left;
        display: flex;
    }

    .weatherSum {
		z-index: 1;
		margin-top: 20px;
		margin-left: 20px;
	}

/*Gallery*/

.gallerygrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.imagetile:hover {
    box-shadow: 2px 2px 8px 4px darkgray
}