body {
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    
  }

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main;
    text-align: center;
    grid-gap: 1rem;
}

div img {
    max: width 100%;
    margin-top: 1rem;
}

article {
    border: 0.3rem solid lightgray;
    max-width: 25rem;
}

#two {
    padding-bottom: 3.3rem;
}

#three {
    padding-bottom: 2.2rem;
}

h2{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0rem;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

header,
footer {
    text-align: center;
    background-color: rgb(2, 2, 44);
    color: white;
    padding: 1rem;
}

main a {
    color: black;
}

footer a {
    color: white;
  }