/*Primary Color: Hunter Green #355834
	Secondary Color: Morning Blue #7F9F8A
    Accent Color: Copper Crayola #E58F65 */

    body{
        font-family: 'Montserrat', sans-serif;
    }

    h2 {
        text-align: center;
    }
    
    nav {
        background-color: #7F9F8A;
        text-align: center;
        margin: 0 auto;
    }

    .navigation {
        list-style: none;
        padding: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
	    padding: 0.75rem;
	    text-align: left;
	    text-decoration: none;
	    color: black;
	    font-weight: 700;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

   .responsive li {
       display: block;
   }

    nav a:hover {
        background-color: #E58F65;
        color: white;
    }

    nav ul.hide {display: none;}

    .contentbox {
        display: block;
        margin: 10px auto;
        border: 1px dashed black;
        padding: 15px;
        background-color: #eee;
        color: black;
        font-style: italic;
    }

header,
footer {
	background-color: #355834;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: white;
}

main, 
footer {
    max-width: 65rem;
    margin: 0 auto;
}

header img {
    width: 10rem;
    margin: 0.5em 0.5em 0.5em 0em;
}

footer a {
	color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }