@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

h1, h2 {
    font-family: 'Lora', serif;
}

body{
    font-family: 'Helvetica', Arial, sans-serif;
}

header{
    background-color: #6495ED;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

header a {
    color: #FAEBD7;
    text-decoration: none;
    margin-right: 1rem;
} 

header a:hover {
    text-decoration: underline;
}

li {
    margin: 1rem;
}

main {
    background-color: #FAEBD7;
}

article {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    background-color: white;
    overflow: hidden;
}
