@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

h1, h2 {
    font-family: 'Lora', serif;
}

body{
    font-family: 'Helvetica', Arial, sans-serif;
}

header{
    background-color: #6495ED;
    text-align: right;
    padding-top: 1rem;
}

nav ul {
    list-style-type: none;
    padding-bottom: 1rem;
}

header a:link {
    color: #FAEBD7;
    text-decoration: none;
    margin-right: 1rem;
} 

header a:visited {
    color: #FAEBD7;
    text-decoration: none;
    margin-right: 1rem;
} 

header a:hover {
    text-decoration: underline;
    color: white;
}

header a:active{
    color: #DEB887;
    text-decoration: none;
}

li {
    margin: 1rem;
}

main {
    background-color: #FAEBD7;
}

article {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    background-color: white;
    overflow: hidden;
    margin: 2rem;
    padding: 5rem;
}

h2 a:link {
    color: black;
    text-decoration: none;
} 

h2 a:visited {
    color: black;
    text-decoration: none;
} 

h2 a:hover {
    text-decoration: underline;
    color: #6495ED;
}

h2 a:active{
    color: #DEB887;
    text-decoration: none;
}

p a:link {
    color: #6495ED;
    text-decoration: none;
} 

p a:visited {
    color: #6495ED;
    text-decoration: none;
} 

p a:hover {
    text-decoration: underline;
}

p a:active{
    color: #DEB887;
    text-decoration: none;
}
