body{
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
}

#banner {
    color: white;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #E58F65;
}

nav {
    background-color: #7F9F8A;
    text-align: center;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.responsive li {
   display: block;
}

nav a:hover {
    background-color: #E58F65;
    color: white;
}

nav ul.hide {display: none;}

.active {
    background: #ccc;
    color: #355834;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: #eee;
    color: black;
    font-style: italic;
}

.herodiv {
margin: 10px auto;
position: relative;}

h3, p {
margin:0}

.weatherSum {
background: radial-gradient(#eee, #E58F65);
border: 1px solid #E58F65;
padding: 0rem;
box-shadow: 0 0 30px #111;
opacity: .8;
display: grid;
grid-template-columns: 1fr 1fr;
}

.weatherSum h3 {
grid-column: 1 / span 2;
padding-top: 1rem;
text-align: center;
width: 90%;
}

.weather-summary-labels {
text-align: right;
}

.weather-summary-info {
text-align: left;
}

ul {
list-style: none;
}

.heroImage {
width:100%;
height: auto;
}

.article {
text-align: justify;
}

.articleP {
padding: 1rem;
text-align: left;
}

.articleImage {
float: right;
}

.grid,
.forecast,
.map {
display: none;
}

header,
footer {
background-color: #355834;
align-items: center;
justify-content: center;
padding: 10px;
color: white;
}

main, 
footer {
max-width: 65rem;
margin: 0 auto;
}

header img {
width: 10rem;
margin: 0.5em 0.5em 0.5em 0em;
}

header {
display: flex;
flex-flow: column;
}

main,
footer {
display: grid;
}

footer a {
color: white;
}

/*Gallery*/

.gallerygrid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 1em;
    max-width: 65rem;
}

img[date-src] {
    filter:blur(0.2em);
}

.gridimage {
    filter: blur(0.2em);
    transition: filter 2s;
    margin: 0;
}

.imagetile {
    max-width: 400px;
    border: 5px solid black;
    justify-self: center;
    box-shadow: lightgray;
}

.imagecaption {
    background-color: white;
    margin: 0;
    padding: 0.5em;
    max-width: 100%;
    white-space: nowrap;
    text-align: center;
}

/*Storm Center*/ 

.form-main,
.form-main h2 {
    max-width: 54rem;
    width: 96%;
    margin: 0 auto;
    font-family:"Merriweather", "serif";
    text-align:center;
}

.form-main h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid #355834;
    border-radius: 10px;
    padding: 0.5rem 2% 1rem 2%;
    text-align: left;
}

form legend {
    margin: 0 1rem;
    padding: 0 0.5rem;
}

.top,
form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

.top input,
.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #444;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    line-height: 1.2;
    font-family:"Merriweather", "serif";
}

.sbs,
.slider {
    display:block;
    padding: 0.75rem;
    font-size: 1rem;
}

.slider {
    padding: 1.75rem 0 1rem 0;
}

.slider > input {
    margin: 0 0.5rem;
    position: relative;
    top: 2px;
}

form input.submitBtn {
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 auto;
    width: 96%;
    max-width: 20rem;
    text-align:center;
    font-family:"Merriweather", "serif";
}

.top texterea {
    display: block;
    max-width: 18rem;
    width: 100%;
}

/*******Thanks Page*******/

.thanks-main h2,
.thanks-main p {
    text-align: center;
    font-family: "Merriweather", serif;
}

.thanks-main h2 {
    margin: 5rem 0 2rem 0;
    font-size: 1.4rem;
}

.thanks-main p {
    margin-bottom: 15rem;
}

/****Home Page***/
.home-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3rem;
    padding: 1rem 1rem  1rem;
    text-align: center;
  }
  
  .home-cards section {
    color: black;
    border: solid 2px #626c66;
    border-radius: 10px;
  }
  
  .home-cards section:nth-child(3) {
    order: 1;
  }
  
  .home-cards h2 {
    color:#355834;
    font-size: 28px;
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 
    border-radius: 0 0 8px 8px;
  }
  
  .home-cards div {
    margin-top: 0.5rem;
  }
  
  .town-info p:nth-child(5) {
     margin-bottom: 2rem;
  }
  
  .town-info div {
    color: #E58F65;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  
  #preston-card {
    order: 1;
  }
  
  #soda-card {
    order: 2;
  }
  
  #fish-card {
    order: 3;
  }

  .heroImage {
    margin-bottom: 1rem;
  }